
.index-chinese
{
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
}

html{
	font-family: Arial;
	font-size: 18px;
	/*color: #05101C;*/
}
/*nav li{
	text-align:right;
}*/


.navbar-brand{
padding: 5px;
}
.navbar-brand img{
/*max-height: 80px;*/
max-width: 150px;

}

.form-control{
	padding:3px;
}

nav{
	position: absolute;
	top:10px;
}

.banner-zone{
	position: absolute;
	margin: 10px;
	width:100%;
	height:auto;
}

.banner{
	width:100%;
	opacity: .5;
	height: 242.4px;
}

.banner-text{
	position: absolute;
	top: 19%;
	text-align: center;
	width: 100%;
	padding: 0 30%;
	font-size:1rem;
	opacity: 0.7;
}

.banner-text h1 {

font-family:  'Lobster', cursive;
font-size: 2rem;
color:black;

}


.order{
	width:100%;
	position: absolute;
	top: 39%;
	text-align: center;
	padding: 0 15%;
	font-size: 1rem;
	  
}


.order button {
	
	border-radius: 30px;
	background: none;
}

.order button a{
	color: #4D5E19;
	padding:0 5px;
	font-size: 1.11rem;
}

.order p{

	font-size:0.89rem;
margin-top:10px;
}


.qr{
	position: absolute;
	top: 42%;
	width:80px;
	height: 80px;
}
.inline-wrapper{
	position: absolute;
	margin: 0.2%
	width:100%;
	height:auto;
	padding:9.5px 5px 0 5px;
	

}

.left-div{
	float: left;
	width: 79%;

	height:auto;
	background-color: #E2D0AD;

	padding: 0.05%;

	}



.left-div div {
	display:inline-block;
	width: 24.6%;
	position: relative;
	max-height: 200px;

}

.left-div img{
	width: 100%;
	height: 190px;
	padding: 10%;
	vertical-align: top;
	margin-bottom: 30px;

	}

.left-div h4{
	font-family: "华文楷体";
	position: absolute;
	font-size: 14px;
	text-align: center;
	width: 100%;
	font-size: 20px;
	margin-top: -25%;
	
}

.right-div{
	margin-left: 80%;
	margin-right: 1.5%;
	width: 19.99%;

	height: 72%;
	background-color: #F2E5B5;
	/*#D7D591;*/
	padding: 5px;



}

.right-div div img{
	width: 100%;
	height: 100px;
	padding:10px;
	
}

.right-div h2{
	font-family: "华文楷体";
	/* font-family: 'Lobster', cursive;*/
	 font-size: 20px;
	opacity: 0.8;
	 margin-left: 20%;
}

.right-div div h4{
	font-family: "华文楷体";
	position: absolute;
	margin-top: -20px;
	padding-left: 60px;

/*font-family: 'Poiret 10pxlOne', cursive;*/
	font-size: 16px;
	
	opacity: 0.6;
	
	
	}

	.index-chinese .banner-text h1{

		margin-left: 20px;
	}



footer{
margin-top: 90%;
width: 100%;
height: auto;
background-color: red;
position: absolute;
}


.page-top{
	margin-top: 100px;
}


.container{
	padding: 0 25%;
}



.contact-form input, .contact-form textarea {
  margin: 10px;
  font-size: 1rem;
  /*padding: 30px;*/
}


@media (min-width: 826px) and (max-width: 970px)
{
	
}

@media (min-width: 772px) and (max-width: 825px) {

.banner-text{
		padding: 0 20%;
		top:25%;
	}
	.order{
		top:45%;
	}
	.qr{
		top: 52%;
	}
	.left-div div {
	
	width: 32%;

}

.left-div h4{
	
	margin-top: -25%;
	
}

}

@media (min-width: 700px) and (max-width: 771px) {


	.banner-text{
		padding: 0 20%;
	}
	.left-div div {
	
	width: 32%;

}

.left-div h4{
	
	margin-top: -25%;
	
}

.right-div h2{
display: none;
}


}
@media (min-width: 471px) and (max-width: 699px) {

.banner-text {
	top:15%;
	
}
	.order{
		top:30%;
	}
	.left-div div {
	
	width: 45%;

}
.banner-text p{
	display: none;
}

.left-div h4{
	
	margin-top: -23%;
	font-size: 15px;
}

.right-div h2{
display: none;
}

.right-div div img{
padding:0;
}

}

@media (min-width: 331px) and (max-width: 470px) {
.banner-text {
	top:15%;
}
	.order{
		top:29%;
	}
	.left-div div {
	
	width: 45%;

}

.left-div h4{
	
	margin-top: -30%;
	font-size: 15px;
	
}

.banner-text p{
	display: none;
}


.right-div h2{
display: none;
}


.qr{
	display: none;
}
}

@media (max-width: 330px) {

	.left-div{
		width: 99%;
		
	}
	.left-div div {
	
	width: 49%;

}



.left-div h4{
	
	margin-top: -30%;
	font-size: 15px;
	
}


	.right-div{
	display: none;
}
.banner-text {
	display: none;
}


.order{
	top:22%;
}

.qr{
	display: none;
}

.banner{
	opacity: 0.2;
}



}
